<nav class="navbar navbar-expand-lg" style="padding: 15px">
  <a class="navbar-brand" href="#">
    <img
      src="./../../assets/logo.svg"
      alt="Logo"
      width="90"
      height="56"
      class="d-inline-block align-text-top"
    />
  </a>
  <div class="container-fluid justify-content-center">
    <div class="d-flex flex-row">
      <div class="p-2 mx-5">Hakkımızda</div>
      <div class="p-2 mx-5">Juri-Yarışma Yazılımı</div>
      <div class="p-2 mx-5">Word Ninja</div>
      <div class="p-2 mx-5">Word Pyramids</div>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul
      class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
      style="--bs-scroll-height: 100px"
    >
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-youtube icons"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-instagram icons"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">
          <i class="bi bi-behance icons"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">
          <i class="bi bi-linkedin icons" ></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
